.alert
{
    & {
        @apply
        absolute z-50
        bottom-0
        pointer-events-none
        opacity-0;
        transition: all ease-in-out 300ms;
        transform: translate(100%, 0px) skew(-30deg, 0deg);
    }

    & {
        &.--active {
            @apply
            opacity-100;
            transform: translate(0, 0px) skew(0deg, 0deg);
        }
    }
}
